/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    File name  : footer.scss
    Created on : Jun 21, 2021
    Author     : Web Solutions WEB Team <webmaster@web-solutions.eu>
*/
.footer-container { 
/*  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $primary;
  color: white;
  text-align: center;*/
}
