/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    File name  : front-horizon.scss
    Created on : Jul 14, 2021
    Author     : Web Solutions WEB Team <webmaster@web-solutions.eu>
*/

.horizon-wrapper {
    height:200vh;
    padding:5rem;
    background-color: #857363;
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");   
    @media (max-width: 764px) {
        padding:0rem!important;
    }
}
.horizon {
    background-color: #dadada;
    padding: 10px;
    mix-blend-mode: color-burn;
}
.sun {
    transition:1000ms;
    position:absolute;
    background-color: #ffb700;
    height:400px;
    width:400px;
    border-radius: 50%;
    visibility:visible;
    & p {
        transition:1000ms;
        color: #dc9e00;
    }
    & i {
        transition:1000ms;
        color: #dc9e00;
        font-size: $font-size-xl;
    }
}
.earth {
    transition:1000ms;
    position:absolute;
    background-color: lightblue;
    height:0px;
    width:400px;
    border-radius: 50%;
    /*visibility:hidden;*/
    & p {
        transition:1000ms;
        font-size: 0px;
        color: #82c2d6;
    }
    & i {
        transition:1000ms;
        color: #82c2d6;
        font-size: 0px;
    }
}
.sky {
    transition:100ms;
    margin:1px;
    /*position:absolute;*/
    width:10px;
    height:100%;
    background-color:#000000ba;
}