/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    File name  : front-video.scss
    Created on : Jun 14, 2021
    Author     : Web Solutions WEB Team <webmaster@web-solutions.eu>
*/
.front-demo {
    /*margin-top:50vh;*/
    & h1 {
        font-weight: $font-weight-bold;
        font-size: $font-size-xl;
        text-transform: uppercase;
        text-align:justify;
        font-family: $font-family-base;
        /*font-weight: $font-weight-lighter;*/
    }
}
.video {
    position: relative;
    background-color: #000;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
.front-video {
    filter: grayscale(1);
    object-fit: cover;
};
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}