/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    File name  : rocket.scss
    Created on : Jun 29, 2021
    Author     : Web Solutions WEB Team <webmaster@web-solutions.eu>
*/

$white: $tertiary;
$lightgrey: $tertiary;
$midgrey: $primary;
$darkgrey: #cfb4ff;
$red: #f01a19;
$darkred: $secondary;

.rocket {
    transform: scale(0.4) rotate(90deg);
    position: absolute;
    top: 70%;
    width: 80px;
    left: calc(30% - 60px);
    animation: fly alternate 20s infinite;
    .rocket-body {
        width: 80px;
        left: calc(50% - 50px);
        animation: bounce 0.5s infinite;
        .body {
            background-color: $lightgrey;
            height: 180px;
            left: calc(50% - 50px);
            border-top-right-radius: 100%;
            border-top-left-radius: 100%;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-top: 5px solid $white;
        }
        &:before {
            content: '';
            position: absolute;
            left: calc(50% - 24px);
            width: 48px;
            height: 13px;
            background-color: $darkgrey;
            bottom: -13px;
            border-bottom-right-radius: 60%;
            border-bottom-left-radius: 60%;
        }
    }
    .window {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: $darkred;
        left: calc(50% - 25px);
        top: 40px;
        border: 5px solid $midgrey;
    }
    .fin {
        position: absolute;
        z-index: -100;
        height: 55px;
        width: 50px;
        background-color: $darkred;
    }
    .fin-left {
        left: -30px;
        top: calc(100% - 55px);
        border-top-left-radius: 80%;
        border-bottom-left-radius: 20%;
    }
    .fin-right {
        right: -30px;
        top: calc(100% - 55px);
        border-top-right-radius: 80%;
        border-bottom-right-radius: 20%;
    }
    .exhaust-flame {
        position: absolute;
        top: 120%;
        width: 28px;
        background: linear-gradient(to top, transparent 10%, $white 100%);
        height: 550px;
        left: calc(50% - 14px);
        animation: exhaust 0.2s infinite;
    }
}

@keyframes bounce {
    0% {
        transform: translate3d(0px, 0px, 0);
    }
    50% {
        transform: translate3d(0px, -4px, 0);
    }
    100% {
        transform: translate3d(0px, 0px, 0);
    }
}

@keyframes exhaust {
    0% {
        background: linear-gradient(to top, transparent 10%, $white 100%);
    }
    50% {
        background: linear-gradient(to top, transparent 8%, $white 100%);
    }
    75% {
        background: linear-gradient(to top, transparent 12%, $white 100%);
    }
}

@keyframes twinkle {
    80% {
        transform: scale(1.1);
        opacity: 0.7;
    }
}

@keyframes fly {
    0% {
        transform: scale(0.2) rotate(90deg);
        left: calc(30% - 60px);
    }
    100% {
        transform: scale(0.8) rotate(90deg);
        left: calc(50% - 60px);
    }
}