/*
    File name  : variables.scss
    Created on : 2021-01-20
    Author     : Studio Spica
*/

// Theme default colors
$primary:   #172946 !default;
$secondary: #f4ddb5 !default;
$tertiary: #d14b39 !default;
/*$tertiary: #e3cbea !default;*/
$quaternary: #192900;
$quinary: #d6e7ff;
$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);

:root {
    --color-page-background: #{$color-white};
    --color-text: #{$color-black};
}
.bg-tertiary {
    background-color:$tertiary;
}
.bg-quaternary {
    background-color: $quaternary;
}
.bg-quinary { 
    background-color:$quinary;
}
// Your variable overrides
// Colors

// Font defaults
$font-family-base:  'Bungee', cursive;
$font-family-secondary:  'Bungee Hairline', cursive;
$font-family-bungee-regular: 'Bungee', cursive;
$font-family-bungee-hairline: 'Bungee Hairline', cursive;
$font-family-bungee-inline: 'Bungee Inline', cursive;
$font-family-bungee-outline: 'Bungee Outline', cursive;
$font-family-bungee-shade: 'Bungee Shade', cursive;
$font-size-base:    1rem !default;

$font-size-xsm:      0.7rem !default;
$font-size-sm:      0.875rem !default;
$font-size-md:      1.125rem !default;
$font-size-l:       2.125rem !default;
$font-size-xl:      3.125rem !default;
$font-size-xxl:     4.125rem !default;
$font-size-price-s: 1.5rem !default;
$h1-font-size:      $font-size-l;

$font-weight-lighter:         200 !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          800 !default;

// Headings
$headings-margin-bottom:      1rem;
$headings-font-weight:        $font-weight-semibold;

// Links
$link-decoration:   none;

// Buttons + Forms
$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         1rem !default;
